
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaf19b;
    margin: 0;
}


.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(93, 194, 68, 0.2);
    max-width: 800px;
    width: 100%;
}


h1 {
    color: #183e1b;
    font-size: 1.8em;
    margin-bottom: 20px;
}


textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #65e36f;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.buttons {
    margin-bottom: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #58ba5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #107216b7;
}

.results p {
    margin-top: 8px;
    font-size: 25px;
    color: #333;
    border-top: 1px solid #e1e29a;
    padding-top: 10px;
}


.chart-container {
    margin-top: 30px;
}
